.título-página {
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin: 10px;


}

.nome-propriedade {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;

}

.valor-propriedade {
    font-size: 1.5em;
    font-weight: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 30px;
}

.bloco-1 {
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    display: flex;
    justify-content: center;


}


.bloco-2 {
    background-color: green;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    display: flex;
    justify-content: center;

}


.bloco-3 {
    background-color: yellow;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    display: flex;
    justify-content: center;


}

.container-row {
    display: flex;
    flex-direction: row;
    /* flexbox */
    background-color: rgb(150, 112, 216);
    padding: 16px;
    height: 500px;
    display: flex;
    justify-content: center;

}

.container-column {
    display: flex;
    flex-direction: column;
    /* flexbox */
    background-color: rgb(0, 255, 89);
    padding: 16px;
    height: 500px;
    display: flex;
    justify-content: center;


}
/* define a direção do eixo principal*/
.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    /* flexbox */
    background-color: gray;
    padding: 16px;
    height: 500px;
    display: flex;
    justify-content: center;

}

.container-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    /* flexbox */
    background-color: royalblue;
    padding: 16px;
    height: 500px;
    display: flex;
    justify-content: center;

}

.container-justify-center {
    display: flex;
    flex-direction: column-reverse;
    /* flexbox */
    background-color: brown;
    padding: 16px;
    height: 500px;
    display: flex;
    justify-content: center;

}
 /*flex-direction: Define a direção do eixo principal*/
.container-justify-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 16px;
    /* align-itens: center; */
    background-color: tomato;
    height: 500px;
}

.container-justify-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
    /* align-itens: center; */
    background-color: lightseagreen;
    height: 500px;
}

.container-justify-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    /* align-itens: center; */
    background-color: rgb(178, 32, 78);
    height: 500px;
}

.container-justify-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    /* align-itens: center; */
    background-color: rgb(32, 178, 163);
    height: 500px;
}

.container-justify-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px;
    /* align-itens: center; */
    background-color: rgb(129, 178, 32);
    height: 500px;
}

.container-align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: deeppink;
    height: 500px;
    
    
}
    
.container-align-center-flex-start {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(20, 255, 173);
    padding: 16px;
    height: 500px;
}